
body { 
    background: forestgreen;
}

img {
    display: block;
    margin: auto;
}

#display {
    border: 3px black solid;
    padding:10px;
    min-height:150px;
    background:lightgrey;
}

#textIn {
    border: 3px black solid;
    padding:5px;
    min-height:25px;
    background:lightgrey;
}

button{
    background: grey;
    display: block;
    margin: auto;
}


section {margin:10px 20px;
}

